{% extends 'core/base.html' %}

{% block content %}

<div class="reset-page">

<div class="reset-card">

<h2>Reset Password</h2>

{% if messages %}
{% for message in messages %}
<div class="msg {{message.tags}}">
{{message}}
</div>
{% endfor %}
{% endif %}

<form method="POST">
{% csrf_token %}

<input type="email"
name="email"
placeholder="Enter your registered email"
style="text-transform: lowercase;"
required>

<button type="submit" class="btn">Submit</button>

</form>

<p style="margin-top:15px;">
Remember your password?
<a href="/login/">Login</a>
</p>

<a href="/">
<button type="button" class="back-btn">Back</button>
</a>

</div>

</div>


<style>

.reset-page{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;

background-image:url("/media/paddy1.jpeg");
background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
}

.reset-card{
background:rgb(234,242,233);
padding:40px;
border-radius:18px;
width:420px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.3);

position:relative;
}

input{
width:100%;
padding:12px;
margin:12px 0;
border-radius:8px;
border:1px solid #ddd;
}

.btn{
width:70%;
padding:12px;
background:#8BC34A;
border:none;
border-radius:25px;
font-size:18px;
cursor:pointer;
}

.back-btn{
position:absolute;
bottom:20px;
left:20px;
font-size:14px;
width:80px;
padding:8px;

background:#8BC34A;
border:none;
border-radius:25px;
cursor:pointer;
}

.back-btn:hover{
background:#6FAF34;
color:white;
}

.msg{
padding:10px;
margin-bottom:10px;
border-radius:6px;
font-weight:bold;
color:white;
}

.success{
background:green;
}

.error{
background:red;
}

</style>


<script>

setTimeout(function(){

var msg=document.querySelector(".msg");

if(msg){
msg.style.opacity="0";
}

},2000);

</script>

{% endblock %}